html,
body {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}
.imgContainer {
   height: 700px;
}
.heroImg {
   width: 100%;
   height: 900px;
   background-image: url(../assets/images/JacquelineKelly.jpeg);
   background-size: cover;
   position: relative;
   background-repeat: no-repeat;
   background-attachment: fixed;
   filter: blur(1px);
   -webkit-filter: blur(1px);
   filter: brightness(80%);
}
.qouteContainer {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.imgCon {
   position: relative;
   background-color: #d4afa4;
}
