html,
body {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   scroll-behavior: smooth;
}
.test {
   background-color: tomato;
   height: 100%;
   width: 100%;
}
/*Header and header image*/
.gradient {
   background: rgb(55, 0, 255);
   background: linear-gradient(
      90deg,
      rgba(55, 0, 255, 1) 0%,
      rgba(251, 172, 0, 1) 100%
   );
   padding-top: 10%;
   height: 100vh;
   width: 100%;
}
.picSize {
   height: 30%;
   width: 70%;
}
.phrase {
   font-size: 2.25rem;
}
/*Header and header image*/
/*---- Section About Me------*/
.aboutContainer {
   height: 90vh;
   padding-top: 10%;
}
.picContainer {
   background: tomato;
   height: 22rem;
   width: 22rem;
   border-radius: 11rem;
   padding: 15px;
}
.aboutPicture {
   height: 20rem;
   width: 20rem;
   border-radius: 10rem;
}
/*---- Section About Me------*/
/*---- Section Skills------*/
.skillContainerLayout {
   background-color: #5000ca;
   padding-top: 50%;
   height: 90vh;
   width: 100%;
}
.skillPicture {
   height: 30vh;
}
/*---- Section Skills------*/
/*-----Contacts Container----**/
.contactsContainer {
   height: 70vh;
}
