* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
/*Header*/
.pictureSize a img {
   margin: 0;
   padding: 0;
   height: 1.2rem;
}
.navbarBg {
   background: rgb(58, 71, 180);
   background: linear-gradient(
      146deg,
      rgba(58, 71, 180, 1) 30%,
      rgba(254, 255, 67, 1) 60%,
      rgba(255, 0, 0, 1) 100%
   );
}
/*Header*/
/*Carousel Container Section*/
.carousel-inner > .item > img {
   z-index: -1;
   width: 640px;
   height: 830px;
   filter: brightness(70%);
}
/*Carousel Container Section*/

.aboutContainer {
   margin: 0;
}
