* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.bg {
   background-image: url(../images/bg.jpg);
   background-size: cover;
   background-attachment: fixed;
   min-height: 95vh;
   width: 100%;
}
.containerSize {
   min-height: 50vh;
}
.home {
   margin-top: 155px;
}
p {
   font-size: 2.5rem;
   text-shadow: 3px 3px #000;
}
label {
   font-size: 1.5rem;
   text-shadow: 2px 2px #000;
}
